.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

h2 {
  color: white;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
    font-size: 50px;
}

.input {
  display: flex;
  flex-direction: column;
  color: white;
  /* align-items: center; */
  gap: 3px;
  font-size: 30px;
}

.input_wrap {
  display: flex;
  gap: 10px;
}

.input_label {
  min-width: 90px;
  font-size: 30px;
}
.btn{
  font-size: 20px;
  margin-top: 7px;
  font-weight: bold;
  background-color: yellow;
}